.product-list-item {
    width: 214px;
    height: 264px;
    margin-bottom: 30px;
    position: relative;
    float: left;
}

.sub-item {
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 1px 1px rgba(20, 17, 27, 0.35);
    -moz-box-shadow: 0px 1px 1px rgba(20, 17, 27, 0.35);
    box-shadow: 0px 1px 1px rgba(20, 17, 27, 0.35);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: 50% 50% no-repeat;
    border: 1px solid #eee;
    display: block;
}

.news-list {
    width: 100%;
}

.news-item {
}

.news-list-index .news-item {
    width: 50%;
    float: left;

}

.news-item-img {
    border: 4px solid #e1e1e1;
    margin: 4px 6px 2px;
    float: left;
}

.news-item-title {
    display: block;
    font-size: 14px;
    color: #f7941d;
    font-weight: bold;
    padding-top: 4px;

}

.news-item-preview {
    color: #705d25;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    padding-right: 10px;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.popup {
    display: none;
    position: absolute;
    z-index: 1001;
}


