{% extends 'base.html' %}
{% load tags_frontend %}

{% block content_main %}
    <div class="h1-title">Заказ принят</div>
    <div class="text top-m-16">
        Благодарим за покупку! Ваш заказ №{{ object.pk }} в обработке, в ближайшее время с вами свяжется иенеджер.
        Информация по заказу
        отправлена на Ваш email
        {% if object.payment_type_id == 2 %}
            Посде нажатия на кнпку «Перейти к оплате», вы перейдёте на сайт сервиса оплаты Робокасса для продолжения
            оплаты.
{#            Убедитесь, что у вас имеется сумма в размере {{ object.summary|price }} р.#}
            {#        Подтверждение оплаты придёт на вашу электронную почту.#}

        {% endif %}
    </div>
    {% if object.payment_type_id == 2 %}
        <a href="{{ robo_link }}">Оплатить</a>
    {% endif %}
{% endblock %}