<div class="h1-title text-center">Быстрый заказ</div>
<div class="text-center text top-m-16">Оставьте ваши контактные данные и администрация свяжется с вами</div>
<form>
    {% include 'frontend/inc_form.html' %}
</form>
<div class="clearfix"></div>
<div class="text text-center bottom-m-16">
    Или позвоните нам по телефону <b class="color-orange">8-800-300-500</b> и наши сотрудники оформят заказ за вас
</div>
<a href="javascript:void(0);" class="btn btn-fast-order-submit" style="margin: 0 auto;width: 73px;display: block;">Отправить</a>

